<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>thanh công</h1>-->
<!--<p th:text="cartjson"></p>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON Viewer</title>
    <script>
        function displayJSON() {
            var cartJson = document.getElementById("cart-json").textContent;
            var cartObject = JSON.parse(cartJson);
            var jsonString = JSON.stringify(cartObject, null, 4);
            document.getElementById("json-viewer").textContent = jsonString;
        }
    </script>
</head>
<body onload="displayJSON()">
<h1>Thông tin JSON</h1>
<pre id="json-viewer"></pre>
<!-- Assuming "cartjson" is your cart JSON data -->
<p id="cart-json" th:text="${cartjson}" style="display: none"></p>
</body>
</html>
